<div class="row kanye-header">
    <h1 class="kanye-title pull-left animated bounceIn">Kanye Today</h1>
    <h1><%= link_to "Ye'sterday", :yesterday, :class => "yesterday-link pull-right" %></h1> 
</div>
<% if !@tweets.empty? %>
    <div class="row">
        <div class="col-md-6">
            <h1>Today's Feed (<%= @tweets.count %>)</h1>
            <% @tweets.each do |tweet| %>
                <div class="tweet"> 
                    <% if tweet.media? %>
                        <img src="<%= tweet.media[0].media_url %>" class="tweet-media">
                    <% end %>
                    <h3><%= tweet.text %></h3>
                    <h5><span class="glyphicon glyphicon-star" aria-hidden="true"></span><%= tweet.favorite_count %> | Composed at: <%= tweet.created_at.strftime("%I:%M:%S %p") %></h5>
                </div>
            <% end %>
        </div>
        <div class="col-md-6 top-tweet">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h5>Today's Top Tweet With <%= @top_tweet.favorite_count %> Favorites is...</h5>
              </div>
              <div class="panel-body">
                <p>"<%= @top_tweet.text %>"</p>
              </div>
            </div>
            <%= high_chart("ye_chart", @chart) %>
        </div>
    </div>
    
<% else %>
    <h1 class="no-tweets">NO TWEETS TODAY :(</h1>
<% end %>

